# Ignore Dependencies
node_modules/
client/dist/

# Ignore Build Output
dist/
bin/
main.exe
main

# Ignore Environment Secrets
.env

# Ignore User Uploads
server/uploads/*
!server/uploads/.gitignore

# Ignore IDE settings
.idea/
.vscode/

# Go / Air
server/tmp/
server/main   # (The compiled binary)
