# server/.air.toml
root = "."
tmp_dir = "tmp"

[build]
  # Just plain "go build" command
  cmd = "go build -gcflags='all=-N -l' -o ./tmp/main ."
  # Where the binary ends up
  bin = "./tmp/main"
  # The Magic Line: Wrap the binary in Delve
  full_bin = "dlv exec --accept-multiclient --log --headless --continue --listen :2345 --api-version 2 ./tmp/main"
  # Watch these file extensions
  include_ext = ["go", "tpl", "tmpl", "html"]
  # Ignore these directories to save resources
  exclude_dir = ["assets", "tmp", "vendor"]
  # If true, stop the old binary before building the new one
  stop_on_error = true

[log]
  time = true

[misc]
  # Delete the tmp folder when you stop the container
  clean_on_exit = true